<!DOCTYPE html>
<html>
 
<head>
    <title>BigM</title>

    <!-- CSS -->
    <link href="../static/style.css" rel="stylesheet">

    <!-- JS -->
    <script src="js/jquery-1.11.2.min.js?ver=1.1" type="text/javascript"></script>

    <!-- Iconos -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

    <!-- Responsive -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

</head>
 
<body>
    <!-- <h1 class="h1-titulo" align="center"><span style="color:#908E8E">BIG M </span><span style="color:#7FCBE6"> CALCULATOR</span></h1> -->
    <div>
        <h1 class="h1-titulo" align="center">big m CALCULATOR</h1>
        <h1 class="h1-by" align="center">By Katherine & Andrea</h1>
    </div>

    
    <div class="div-form1">
        <label class="label-instruction" align="left" style="margin-bottom: 3%; color: #b1b1b1">SUBJECT TO:</label><br><br>
        {% if Restricciones is defined and Restricciones|length > 0 %}
        <form action = "http://localhost:5000/resultado" method = "post">
        {% for i in Restricciones %}
            <!-- x1 -->
            <input type="text" id="xVals" name="xVals" class="input-fo" style="margin-left: 2%; width: 4%;" autocomplete="off">
            <!-- x1 -->
            <label class="label-instruction"> x1</label>
            <label class="label-instruction" style="margin-left: -4px;"> +</label>
            <!-- x2 -->
            <input type="text" id="yVals" name="yVals" class="input-fo" style="margin-left: -3px; width: 4%;" autocomplete="off">
            <!-- x2 -->
            <label class="label-instruction"> x2</label>

            <!-- desigualdad -->
            <input type="text" id="desigualdad" name="desigualdad" class="input-fo" style="margin-left: 1%; margin-right: 4%; width: 3.5%;" autocomplete="off">

            <!-- resultado -->
            <input type="text" id="results" name="results" class="input-fo" style="margin-left: 1px;" autocomplete="off">
            <br><br>
            {% endfor %}

            <!-- RESOLVER -->
            <br><br><br><br>
            <button type="submit" class="button-submit" style="width: 12%;">SOLVE</button>
          </form>
          {% endif %}
        
    </div>

</body>
 
</html>