<!DOCTYPE html>
<html>
 
<head>
    <title>BigM</title>

    <!-- CSS -->
    <link href="../static/style.css" rel="stylesheet">

    <!-- JS -->
    <script src="js/jquery-1.11.2.min.js?ver=1.1" type="text/javascript"></script>

    <!-- Iconos -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

    <!-- Responsive -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

</head>
 
<body>
    <!-- <h1 class="h1-titulo" align="center"><span style="color:#908E8E">BIG M </span><span style="color:#7FCBE6"> CALCULATOR</span></h1> -->
    <div>
        <h1 class="h1-titulo" align="center">big m CALCULATOR</h1>
        <h1 class="h1-by" align="center">By Katherine & Andrea</h1>
    </div>

    <div>
        <form>
            <label>Tipo de Problema:</label><br>

            
            <input type="checkbox" id="min" name="min" value="min">
            <label for="min">Min</label>
            
            <input type="checkbox" id="max" name="max" value="max">
            <label for="max">Max</label><br>

            <label for="CantRest">Cantidad de restricciones:</label><br>
            <input type="text" id="CantRest" name="CantRest"><br>

            <label for="CantVars">Cantidad de variables:</label><br>
            <input type="text" id="CantVars" name="CantVars">
          </form>
    </div>

</body>
 
</html>