<!DOCTYPE html>
<html>
 
<head>
    <title>BigM</title>

    <!-- CSS -->
    <link href="../static/style.css" rel="stylesheet">

    <!-- JS -->
    <script src="js/jquery-1.11.2.min.js?ver=1.1" type="text/javascript"></script>

    <!-- Iconos -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

    <!-- Responsive -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

</head>
 
<body>
    <!-- <h1 class="h1-titulo" align="center"><span style="color:#908E8E">BIG M </span><span style="color:#7FCBE6"> CALCULATOR</span></h1> -->
    <div>
        <h1 class="h1-titulo" align="center">big m CALCULATOR</h1>
        <h1 class="h1-by" align="center">By Katherine & Andrea</h1>
    </div>

    
    <div class="div-form1">
        
        <form action = "http://localhost:5000/resultado" method = "post">
            <label class="label-instruction" align="left" style="margin-bottom: 3%; color: #b1b1b1">RESULTADO:</label><br><br>

            
            <label class="label-instruction" align="left" style="margin-bottom: 3%;">Primal Matrix: </label>
            <label class="input-resp1" align="left" style="margin-bottom: 3%;">{{ matrix }}</label><br><br>

            <label class="label-instruction" align="left" style="margin-bottom: 3%;">Dual Matrix: </label>
            <label class="input-resp1" align="left" style="margin-bottom: 3%;">{{ matrixD }}</label><br><br>

            <label class="label-instruction" align="left" style="margin-bottom: 3%;">x1: </label>
            <label class="input-resp1" align="left" style="margin-bottom: 3%;">{{ xVals }}</label><br><br>

            <label class="label-instruction" align="left" style="margin-bottom: 3%;">x2: </label>
            <label class="input-resp1" align="left" style="margin-bottom: 3%;">{{ yVals }}</label><br><br>

            <label class="label-instruction" align="left" style="margin-bottom: 3%;">Solución Óptima: </label>
            <label class="input-resp1" align="left" style="margin-bottom: 3%;">{{ resultadosP }}</label><br><br>
            

          </form>
        
    </div>

</body>
 
</html>